extends layout

    block content
    
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <h1 class="title"> Add an Account</h1>
                <div class="box">
                      <label class="label">Student Number</label>
                      <p class="control">
                        <input class="input" type="text" placeholder="2012-01234-MN-0">
                      </p>
                      <label class="label">Section Number</label>
                      <p class="control">
                        <input class="input" type="number" placeholder="Section 1">
                      </p>
                      <label class="label">Name</label>
                      <p class="control">
                        <input class="input" type="text" placeholder="First Name Last Name">
                      </p>
                      <label class="label">Email</label>
                      <p class="control">
                        <input class="input" type="text" placeholder="jsmith@example.org">
                      </p>
                      <label class="label">Contact Number</label>
                      <p class="control">
                        <input class="input" type="number" placeholder="09166252986">
                      </p>
                      <label class="label">Birth Date</label>
                      <p class="control">
                        <input class="input" type="string" placeholder="01/01/2010">
                      </p>
                      <hr>
                      <p class="control">
                        <button class="button is-primary">Submit</button>
                        <button class="button is-default">Cancel</button>
                      </p>
                </div>
            </div>
            <div class="column is-4 is-offset-1">
                <h1 class="title">Information</h1>
                <div class="box content"></div>
                <p class="panel-heading">List of Students</p>
                <div class="box content"></div>
            </div>
        </div>
        <br>