extends layout

block content 
   .hero-body
    .container.has-text-centered
        h1.title.is-2 BACHELOR OF SCIENCE IN COMPUTER ENGINEERING
        |         
        h2.subtitle.is-5 POLYTECHNIC UNIVERSITY OF THE PHILIPPINES
        |         
        p
          a.button.is-outlined
            span LEARN MORE
    |   
    |     
    |   
    .hero-cta
      nav.level
        .level-item.has-text-centered
          p.title ABOUT THE ORGANIZATION 
    |   
    .section.main
      .container
        .columns
          .column.is-4
            .panel
              .panel-block.section
                p.has-text-centered
                  img(src='images/pup.png', weight='200px', height='200px')
                |               
                br
                |               
                p
                  | The Polytechnic University of the Philippines (PUP) is a government educational institution governed by Republic Act Number 8292 known as the Higher Education Modernization Act of 1997, and its Implementing Rules and Regulations contained in the Commission on Higher Education Memorandum Circular No. 4, series 1997.
                |               
                br
                |               
                p.has-text-centered
          |         
          .column.is-4
            .panel
              .panel-block.section
                p.has-text-centered
                  img(src='images/engi.jpg', weight='200px', height='200px')
                |               
                br
                |               
                p
                  | The College of Engineering is one of the constituent colleges of the University and one of the premier engineering schools in the Philippines. The College confer degrees in civil engineering, mechanical engineering, electrical engineering, electronics and communications engineering, industrial engineering, computer engineering, and railway engineering.
                |               
                br
                |               
                p.has-text-centered
          |         
          .column.is-4
            .panel
              .panel-block.section
                p.has-text-centered
                  img(src='images/cpe.jpg')
                |               
                br
                |               
                p
                  | The Bachelor of Science in Computer Engineering (BSCoE) program provides basic background in science and engineering. The program emphasizes the fundamental concepts of theory and uses electronics and electricity, analog and digital components, the analysis and design of digital computer hardware and the techniques required in order to interface a microprocessor to memories.
                |               
                p.has-text-centered
    |   
    .hero-cta
      nav.level
        .level-item.has-text-centered
          p.title MEET THE TEAM 
    |   
    |   
    section.hero.is-primary.is-large.header-image
      .hero-head
      |     
      .hero-body
        .container.has-text-centered
          .columns
            .column
              .w3-card-2
                img(src='images/warren.PNG', alt='waaa', style='width:200px; height:200px')
                |                 
                .w3-container.w3-center
                  h1.title.is-3 Warren Mae Bernabe
                  |                     
                  h2.subtitle.is-5 Frontend Developer
                  |                     
                  a.button.is-large.is-danger.is-outlined(href='https://www.facebook.com/ariien022') Facebook account
                  span.nav-item
            |           
            .column
              .w3-card-2
                img(src='images/roemar.PNG', alt='roy', style='width:200px; height:200px')
                |                 
                .w3-container
                  h1.title.is-3 Reomar D. Pajaron
                  |                     
                  h2.subtitle.is-5 Backend Developer
                  |                     
                  a.button.is-large.is-danger.is-outlined(href='http://facebook.com/rcpajaron') Facebook account
                  span.nav-item
