extends layout

block content
    
        section.hero.is-primary.is-large.header-image
          .hero-head  
          .hero-body
            .container.has-text-centered
              .columns
                .column
                  .w3-card-2
                    img(src='images/warren.PNG', alt='waaa', style='width:200px; height:200px')
                    |                 
                    .w3-container.w3-center
                      h1.title.is-3 Warren Mae Bernabe
                      |                     
                      h2.subtitle.is-5 Frontend Developer
                      |                      
                      a.button.is-large.is-danger.is-outlined(href='https://www.facebook.com/ariien022')
                        | Facebook account
                      span.nav-item

                .column
                  .w3-card-2
                    img(src='images/roemar.PNG', alt='roy', style='width:200px; height:200px')                
                    .w3-container
                      h1.title.is-3 Reomar D. Pajaron
                      h2.subtitle.is-5 Backend Developer                    
                      a.button.is-large.is-danger.is-outlined(href='http://facebook.com/rcpajaron')
                        |Facebook account
                      span.nav-item
